- content_for :head do
  %title Shopkeeper - Shopify management on the iPhone
  %link{:rel => "stylesheet", :href => "/stylesheets/shopkeeper.css"}
  %link{:rel => "stylesheet", :href => "/stylesheets/norobot.css"}

#main
  %h1 Shopkeeper: Shopify Management on the iPhone
  %p
    Tired of carrying printouts around to your warehouse or the post office?
    Shopkeeper makes it easy to manage your Shopify stores on the go.
    Manage multiple stores, see when you have new orders,
    access shipping information and line items anywhere, and check your
    inventory quickly and easily. Plus, it's all protected by SSL encryption to
    ensure that your customer information stays secure.

#sidebar.rounded
  #appstore_button
    = link_to image_tag("appstore.png", :alt => "Download from the App Store"), "http://itunes.apple.com/us/app/shopkeeper/id309568248?mt=8"
  %p
    %a{:href => "http://www.shopify.com/?ref=robotmode"}
      Don't have a Shopify account yet?
      
.iphone-row
  = link_to image_tag("shopkeeper/iphonelarge1.jpg", :alt => "Download from the App Store"), "http://itunes.apple.com/us/app/shopkeeper/id309568248?mt=8"
  = link_to image_tag("shopkeeper/iphonelarge2.jpg", :alt => "Download from the App Store"), "http://itunes.apple.com/us/app/shopkeeper/id309568248?mt=8"
