[submodule "vendor/rails"]
	path = vendor/rails
	url = git://github.com/rails/rails.git
[submodule "vendor/plugins/query_reviewer"]
	path = vendor/plugins/query_reviewer
	url = git://github.com/dsboulder/query_reviewer.git
