!!!
%html
  %head
    %title Robot Mode LLC - Adobe Air, Flex, and Ruby on Rails Application Development
    %link{:rel => "stylesheet", :href => "stylesheets/style.css"}
    %meta{'http-equiv' => "Content-Type", :content => "text/html;charset=utf-8"}
  %body
    #maincontainer
      #header
        .container
          .left
            %img{:src => "images/logo.png", :alt => "robot antenna"}
          .right
            %img{:src => "images/robot_01.png", :alt => "robot antenna"}
      .banner.clearfix
        .container
          .left
            %h2 We have the technology.
            %p Your business, better than it was before. Better, stronger, faster.
            %p We can help you improve, create, sell, advertise, and secure your business |
              or product using the latest web technologies and best practices. We focus on |
              collaboration, agile development, and making things look good. |
            %p
              %a{:href => "mailto:activate@robotmo.de"} Click here to activate Robot Mode
          .right
            %img{:src => "images/robot_02.png", :alt => "robot upper"}
      .meta.clearfix
        .container.clearfix
          .left
            %h2 What We Do
            %ul
              %li{:class => "listhead"} Development
              %li
                Web application development with
                %span{:class => "highlight"} Ruby on Rails
                and
                %span{:class => "highlight"} Adobe Flex
              %li
                Desktop application development with
                %span{:class => "highlight"} Adobe AIR
              %li
                %span{:class => "highlight"} eCommerce solutions
                for digital and physical goods
            %ul
              %li{:class => "listhead"} Consulting</li>
              %li
                Traffic analytics and online advertising
              %li
                Software development
                %span{:class => "highlight"} best practices
                and workflow
              %li
                Network and application security
          .right
            %img{:src => "images/robot_03.png", :alt => "robot lower"}
        .container.clearfix
          .projects
            %h2 Projects
            .projectlist
              .project
                %img{:width => "180", :height => "180", :src => "images/projects/nightlife.png", :alt => "http://nightlife-fashions.com" }
                .caption
                  %h3 Nightlife Fashions
                  %p eCommerce and online marketing for San Diego boutique
              .addproject
                %a{:href => "mailto:activate@robotmo.de"} Add your project!
      #footer
        .container
          %p
            %a{:href => "mailto:activate@robotmo.de"} activate@robotmo.de
            \ | Copyright 2009 Robot Mode LLC
    %script{:type => "text/javascript"}
      \var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      \document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    %script{:type => "text/javascript"}
      \try {
      \var pageTracker = _gat._getTracker("UA-7186260-1");
      \pageTracker._trackPageview();
      \} catch(err) {}
