!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", 'xml:lang' => "en", :lang => "en"}
  %head
    %title Robot Mode LLC - Adobe Air, Flex, and Ruby on Rails Application Development
    %link{:rel => "stylesheet", :href => "stylesheets/style.css"}
    %meta{'http-equiv' => "Content-Type", :content => "text/html;charset=utf-8"}
  %body
    #robotwrapper
      #wrap
    
        #header
          %ul#topnav
            %li
              %a{:href => "http://robotmode.basecamphq.com"} client login
            %li.last
              %a{:href => "mailto:activate@robotmo.de"} contact us
          %a{:href => "/"}
            %img{:src => "/images/logo.png", :alt => "Robot Mode LLC logo"}
          
        #content
          #main
            %h1 Introducing Robot Mailer
            %p
              Robot Mailer is built for one thing - helping you kick ass at email marketing. No setup fee, no monthly fees, and each mailer is only $5 + 2 cents per recipient!
              %br
              %a{:href => "mailto:activate@robotmo.de?subject=Robot Mailer"}Email us to get started!
          
            #mailer-features
              .feature-row
                .icon
                  %img{:src => "/images/robotmailer/envelope_go.png", :width => "48px", :height => "48px", :alt => "Create and send email campaigns"}
                .feature-text
                  %h3 Create and send email campaigns
                  %p Import your custom HTML and CSS with a single click. Use our integrated testing tools to make sure they look great in all web and desktop email programs and don't get stuck in spam filters.
            
              .feature-row
                .icon
                  %img{:src => "/images/robotmailer/vcard.png", :width => "48px", :height => "48px", :alt => "Create and send email campaigns"}
                .feature-text
                  %h3 Manage lists and subscribers
                  %p We take all the pain out of list management by handling the messy stuff like bounces and unsubscribes automatically. Whether you've got a small list, or need to get your hands dirty with segmenting and personalization, we've got you covered.
              
              .feature-row
                .icon
                  %img{:src => "/images/robotmailer/chart_pie.png", :width => "48px", :height => "48px", :alt => "Create and send email campaigns"}
                .feature-text
                  %h3 Reporting and analytics
                  %p Great looking reports that allow you to accurately measure the effectiveness of every campaign you send. Go beyond opens and link clicks and measure your campaign related sales, conversions and ROI with our Google Analytics integration.
                
              #more-mailer-features
                %h3 Super Feature
                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              
          #sidebar
            %h2.columntop What We Do
            %ul
              %li{:class => "listhead"} Development
              %li Web apps with Ruby on Rails and Adobe Flex
              %li Desktop application development with Adobe AIR
              %li eCommerce for digital and physical goods
            %ul
              %li{:class => "listhead"} Consulting
              %li Traffic analytics and online advertising
              %li Development best practices and workflow
              %li Network and application security
          
            %h2 About Us
            %p
              Robot Mode LLC is a small, agile development company located in the heart of sunny
              downtown San Diego, California, right next to Horton Plaza and the Gaslamp District.
              When we're not hammering away at code, we frequent
              %a{:href => "http://www.thelocalsandiego.com/"} The Local
              and
              %a{:href => "http://bowlevt.com/"} East Village Tavern &amp; Bowl
              \.
            %p
              Collectively, we have backgrounds in Ruby on Rails, Adobe AIR, Adobe Flex,
              adult digital media, high-traffic commercial websites, Top Secret military
              networks, aircraft carriers, and user experience design.
          
        #footer
          %p
            %a{:href => "mailto:activate@robotmo.de"} activate@robotmo.de
            \/
            %a{:href => "http://validator.w3.org/check?uri=referer"} Valid XHTML
            \ / Copyright &copy;2009 Robot Mode LLC
    :javascript
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    :javascript
      try {
      var pageTracker = _gat._getTracker("UA-7186260-1");
      pageTracker._trackPageview();
      } catch(err) {}
