body, html
  :margin 0
  :padding 0
  :background #fff url(/images/body_bg.png) repeat-x
  :color #000

body
  :min-width 950px
  
#wrap
  :margin 0 auto
  :width 950px

//-------------- Header --------------
#header
  h1
    :padding 5px
    :margin 0

//-------------- Left Column --------------
#main
  :float left
  :width 600px
  
  h2, h3, p
    :padding 0 10px

//-------------- Right Column --------------
#sidebar
  :float right
  :width 350px
  
  h3, p
    :padding 0 10px

//-------------- Footer --------------
#footer
  :clear both
  
  p
    :padding 5px
    :margin 0
    