body, html
  :margin 0
  :padding 0
  :background #fff
  :color #000

body
  :min-width 950px
  
#wrap
  :margin 0 auto
  :width 950px
  
#header
  h1
    :padding 5px
    :margin 0
  
#main
  :float left
  :width 600px
  
  h2, h3, p
    :padding 0 10px

#sidebar
  :float right
  :width 350px
  
  h3, p
    :padding 0 10px
  
#footer
  :clear both
  
  p
    :padding 5px
    :margin 0
    