//-------------- Left Column --------------
#main
  :float left
  :width 590px
  :padding-right 40px
  :margin-bottom 20px
  
  #mailer-features
    :margin 0 auto
    :padding-top 10px
    
    .feature-row
      :clear both
      
      .icon
        :float left
        :width 48px
      .feature-text
        :width 522px
        :float right
        
        h3
          :margin-bottom 3px
  
  .more-mailer-features
    :clear both
    :padding-top 20px
    
    h3
      :padding-top 10px
    
    p
      :font-size 1.0em
      :padding-top 3px
      
    .left
      :float left
      :width 285px
    .right
      :float right
      :width 285px

//-------------- Right Column --------------
#sidebar
  :float right
  :width 320px
  
  h2
    :margin-bottom 10px
  
  p
    :font-size 1.2em
    
  span.subtext
    :font-size 0.8em
    :color #444444
    
  ul
    :list-style none
    :margin 0 0 10px 0
    :padding-left 1em
    :text-indent -1em
    
  li
    :font-size 1.2em
    :margin 0
    :padding-bottom 2px
    
  li.listhead
    :font-weight bold
