body, html {
  margin: 0;
  padding: 0;
  background: #fff url(/images/body_bg.png) repeat-x;
  color: #000; }

body {
  min-width: 950px;
  font-family: Verdana,sans-serif;
  font-size: 12px;
  color: #333; }

a, a:visited {
  color: #1C2336; }

a:hover {
  color: #636C78;
  text-decoration: underline; }

a img {
  border: 0; }

h1, h2 {
  letter-spacing: -1px;
  font-family: helvetica, arial, sans-serif;
  margin: 0;
  padding: 0; }

h1 {
  color: #636C78;
  font-size: 2.5em; }

h2 {
  color: #9AA7AB;
  font-size: 2em;
  padding-top: 0.2em; }

h3 {
  color: #1C2336;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
  padding: 0; }

p, li {
  font-size: 1.3em;
  color: #232323;
  font-family: georgia, times, "times new roman";
  line-height: 1.3em;
  margin: 0 0 15px 0; }

#robotwrapper {
  background-color: transparent;
  background-image: url(/images/robot_bg.png);
  background-repeat: no-repeat;
  background-position: 80% 100%;
  margin: 0;
  padding: 0;
  width: 100%; }

#wrap {
  margin: 0 auto;
  width: 950px;
  border-top: 3px solid #9AA7AB; }

.clear {
  clear: both; }

#header {
  padding: 15px 0 35px 0; }
  #header #topnav {
    text-align: right;
    float: right; }
    #header #topnav a, #header #topnav a:visited {
      text-decoration: none; }
    #header #topnav li {
      display: inline;
      margin-left: .7em;
      padding-right: .5em;
      border-right: 1px solid #9AA7AB;
      font-size: 1.1em; }
    #header #topnav li.last {
      padding-right: 0;
      border-right: 0; }

#content {
  clear: both;
  width: 950px;
  margin-bottom: 50px; }

#footer {
  clear: both;
  border-top: 1px solid #9AA7AB;
  text-align: right; }
  #footer p {
    padding: 5px;
    margin: 0; }
