#main {
  float: left;
  width: 710px;
  margin-bottom: 20px; }
  #main #mailer-features {
    margin: 0 auto;
    padding-top: 10px; }
  #main p {
    margin-top: 10px;
    text-align: justify;
    font-size: 1.3em;
    line-height: 1.4em;
  }

.iphone-row, .screenshot-row {
  clear: both;
  padding-top: 15px; }
  .iphone-row img {
    padding-left: 110px;
  }

#sidebar {
  float: right;
  width: 200px;
  margin-top: 10px;
  padding: 10px; }
  #sidebar #appstore_button {
    width: 200px;
    text-align: center; }
  #sidebar p {
    margin: 30px 0 0 0;
    font-size: 12px;
    text-align: center;
    width: 200px; }
