%h1 Introducing Robot Mailer
%p
  Robot Mailer is a new service we've put together for just one purpose - helping you kick ass at email marketing. No setup fee, no monthly fees, and each mailer is only $5 plus 2 cents per recipient.
  %a{:href => "mailto:activate@robotmo.de?subject=I want to get started with Robot Mailer!"}Email us to get started!

#mailer-features
  .feature-row
    .icon
      %img{:src => "/images/robotmailer/envelope_go.png", :width => "48px", :height => "48px", :alt => "Create and send email campaigns"}
    .feature-text
      %h3 Create and send email campaigns
      %p Import your custom HTML and CSS with a single click. Use our integrated testing tools to make sure they look great in all web and desktop email programs and don't get stuck in spam filters.

  .feature-row
    .icon
      %img{:src => "/images/robotmailer/vcard.png", :width => "48px", :height => "48px", :alt => "Create and send email campaigns"}
    .feature-text
      %h3 Manage lists and subscribers
      %p We take all the pain out of list management by handling the messy stuff like bounces and unsubscribes automatically. Whether you've got a small list, or need to get your hands dirty with segmenting and personalization, we've got you covered.
  
  .feature-row
    .icon
      %img{:src => "/images/robotmailer/chart_pie.png", :width => "48px", :height => "48px", :alt => "Create and send email campaigns"}
    .feature-text
      %h3 Reporting and analytics
      %p Great looking reports that allow you to accurately measure the effectiveness of every campaign you send. Go beyond opens and link clicks and measure your campaign related sales, conversions and ROI with our Google Analytics integration.
  
  .feature-row
    %p
      = link_to "But wait, there's more...", :controller => "mailer"