- content_for :head do
  %link{:rel => "stylesheet", :href => "/stylesheets/norobot.css"}
  
%h1 You're all set!

%p
  Your account has been created!
%p
  Please login at
  %a{:href => "http://mailer.robotmo.de"} http://mailer.robotmo.de
  to get started!