- content_for :head do
  %link{:rel => "stylesheet", :href => "/stylesheets/norobot.css"}
  
%h1 Thanks for signing up!

%p
  Before we can continue creating your account, we just need to verify your email address.
  Please check for an email from us and click the verification link inside so we can 
  finish creating your account.
  
%p
  If you don't see it, please check your spam folder. If you still don't see it, please email us at
  %a{:href => "mailto:activate@robotmo.de"} activate@robotmo.de
  and we'll set you up.